In [2]:
import pandas as pd
import numpy as np

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_excel(r"C:\Users\omkar\PYTHON_PROJECTS\POWERBI_PROJECTS\Financial Cash Flow\Dataset\DataBase.xlsx")

In [6]:
df.head(4)

,Account ID,Category,Sub Category,Groups,Cash Flow Type,Type
0,3,CASH OUT FLOW,TRANSACTIONS,INVESTMENTS (INVEST),NON-OPERATIONAL,REVENUE
1,4,CASH IN FLOW,TRANSACTIONS,INVESTMENTS (REDEEM),NON-OPERATIONAL,REVENUE
2,6,CASH OUT FLOW,TRANSACTIONS,MUTUAL - EXPENSE,NON-OPERATIONAL,REVENUE
3,5,CASH IN FLOW,TRANSACTIONS,MUTUAL - REVENUE,NON-OPERATIONAL,REVENUE

In [7]:
excels = pd.ExcelFile(r"C:\Users\omkar\PYTHON_PROJECTS\POWERBI_PROJECTS\Financial Cash Flow\Dataset\DataBase.Xlsx")
sheets = excels.sheet_names

In [8]:
print(sheets)

['Chart Of Accounts', 'Payments', 'Income']

In [9]:
CA_df = pd.read_excel(r"C:\Users\omkar\PYTHON_PROJECTS\POWERBI_PROJECTS\Financial Cash Flow\Dataset\DataBase.xlsx",sheet_name='Chart Of Accounts')
CA_df.head(4)

,Account ID,Category,Sub Category,Groups,Cash Flow Type,Type
0,3,CASH OUT FLOW,TRANSACTIONS,INVESTMENTS (INVEST),NON-OPERATIONAL,REVENUE
1,4,CASH IN FLOW,TRANSACTIONS,INVESTMENTS (REDEEM),NON-OPERATIONAL,REVENUE
2,6,CASH OUT FLOW,TRANSACTIONS,MUTUAL - EXPENSE,NON-OPERATIONAL,REVENUE
3,5,CASH IN FLOW,TRANSACTIONS,MUTUAL - REVENUE,NON-OPERATIONAL,REVENUE

In [14]:
CA_df.unique_count()

AttributeError: 'DataFrame' object has no attribute 'unique_count'

In [15]:
CA_df.head()

,Account ID,Category,Sub Category,Groups,Cash Flow Type,Type
0,3,CASH OUT FLOW,TRANSACTIONS,INVESTMENTS (INVEST),NON-OPERATIONAL,REVENUE
1,4,CASH IN FLOW,TRANSACTIONS,INVESTMENTS (REDEEM),NON-OPERATIONAL,REVENUE
2,6,CASH OUT FLOW,TRANSACTIONS,MUTUAL - EXPENSE,NON-OPERATIONAL,REVENUE
3,5,CASH IN FLOW,TRANSACTIONS,MUTUAL - REVENUE,NON-OPERATIONAL,REVENUE
4,2,CASH OUT FLOW,TRANSACTIONS,TRANSFERS AMONG EXPENSE ACCOUNTS,NON-OPERATIONAL,REVENUE

In [16]:
readexcel = pd.ExcelFile(r"C:\Users\omkar\PYTHON_PROJECTS\POWERBI_PROJECTS\Financial Cash Flow\Dataset\DataBase.xlsx")
sheetnames = readexcel.sheet_names

In [17]:
sheetnames

['Chart Of Accounts', 'Payments', 'Income']

In [18]:
Income_df = pd.read_excel(r"C:\Users\omkar\PYTHON_PROJECTS\POWERBI_PROJECTS\Financial Cash Flow\Dataset\DataBase.xlsx",sheet_name='Income')
Income_df.head(6)

,Issue Date,Due Date,Settlement Date,Chart Account ID,UF,Customer,Amount Received
0,2017-01-02,2017-01-30,2017-01-31,5003,RJ,Customer 1,787.13
1,2017-01-02,2017-02-01,2017-02-02,5003,RJ,Customer 1,655.13
2,2017-01-02,2017-02-06,2017-02-07,5003,RJ,Customer 1,354.72
3,2017-01-03,2017-01-03,2017-01-04,5003,SP,Customer 2,2597.01
4,2017-01-03,2017-02-07,2017-02-08,5003,SP,Customer 3,785.65
5,2017-01-03,2017-01-31,2017-02-01,5003,SP,Customer 3,1084.78

In [19]:
Income_df.dtypes

Issue Date          datetime64[ns]
Due Date            datetime64[ns]
Settlement Date     datetime64[ns]
Chart Account ID             int64
UF                          object
Customer                    object
Amount Received            float64
dtype: object

In [20]:
Income_df.describe()

       Chart Account ID  Amount Received
count      14671.000000     14671.000000
mean        5004.230591      4146.476006
std           11.943513     23639.438854
min         5001.000000         0.000000
25%         5003.000000       514.805000
50%         5003.000000       949.270000
75%         5003.000000      1899.735000
max         5111.000000    895806.780000